*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

#header .navbar {
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
#header .navbar .navbar_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 43.56px 0;
  align-items: center;
}
#header .navbar .navbar_item {
  display: inline-flex;
  gap: 33px;
}
#header .navbar .navbar_item a {
  text-decoration: none;
  color: #83888f;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  transition: 0.3s;
}
#header .navbar .navbar_item a:hover {
  color: #333D4B;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

.hero {
  background-image: url(/assets/images/hero_about_us.png);
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
  padding: 137px 0;
  border-radius: 15px;
}
.hero h2 {
  color: #fefcf7;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
.hero p {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 445px;
  margin-top: 24px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

#Our_commitment {
  margin-top: 168px;
  margin-bottom: 250px;
}
#Our_commitment .about_wrapper {
  display: flex;
  align-items: center;
  gap: 125px;
}
#Our_commitment .about_wrapper img {
  border-radius: 15px;
}
#Our_commitment .about_wrapper .info_box h2 {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
#Our_commitment .about_wrapper .info_box p {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.8;
  max-width: 540px;
  margin-top: 32px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

#Our_quality {
  background: rgb(41, 48, 57);
  height: 474px;
  margin: 0 auto;
  border-radius: 15px;
}
#Our_quality .quality_wrapper {
  display: flex;
  align-items: center;
  gap: 125px;
  flex-direction: row-reverse;
}
#Our_quality .quality_wrapper img {
  border-radius: 15px;
  transform: translateY(-20%);
}
#Our_quality .quality_wrapper .info_box h2 {
  color: #fefcf7;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
#Our_quality .quality_wrapper .info_box p {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 32px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

#headquators {
  margin-top: 168px;
}
#headquators .home_container .works_title {
  color: #83888f;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
}
#headquators .home_container .path {
  width: 760px;
  border: 2px solid #fdd6ba;
  display: flex;
  position: relative;
  margin-top: 80px;
}
#headquators .home_container .path div {
  width: 31px;
  height: 31px;
  border: 1px solid #0e8784;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  background: #fefcf7;
  left: 50%;
}
#headquators .home_container .path div:before {
  content: "";
  width: 31px;
  height: 31px;
  border: 1px solid #0e8784;
  border-radius: 50%;
  position: absolute;
  left: -1310%;
  top: 0;
  background: #fefcf7;
  gap: 100px;
}
#headquators .home_container .path div::after {
  content: "";
  width: 31px;
  height: 31px;
  border: 1px solid #0e8784;
  border-radius: 50%;
  position: absolute;
  right: -1310%;
  top: 0;
  background: #fefcf7;
  gap: 100px;
}
#headquators .works_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 73px;
}
#headquators .works_wrapper .lworks__card {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
#headquators .works_wrapper .lworks__card img {
  width: 51px;
  height: 51px;
}
#headquators .works_wrapper .lworks__card h2 {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  margin-top: 45.93px;
  line-height: 36px; /* 112.5% */
}
#headquators .works_wrapper .lworks__card p {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
}
#headquators .button {
  padding: 15px 31px;
  margin-top: 64px;
  border-radius: 6px;
  background: #66d2cf;
  border: none;
  color: #fefcf7;
  text-align: center;
  font-family: Fraunces;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  transition: 0.3s;
}
#headquators .button:hover {
  cursor: pointer;
  background: #fefcf7;
  color: #66d2cf;
  border: 1px solid #66d2cf;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home_container {
  max-width: 1111px;
  margin: 0 auto;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Fraunces", serif;
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
}
body {
  font-family: "Barlow", sans-serif;
  background: #FEFCF7;
}

#footer {
  background: #2c343e;
  padding: 47px 0;
  margin-top: 216px;
}
#footer .footer_nav {
  max-width: 1111px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer .footer_nav .aside_footer {
  display: flex;
  align-items: center;
  gap: 102px;
}
#footer .footer_nav .footer_item {
  display: flex;
  gap: 33px;
  align-items: center;
}
#footer .footer_nav .footer_item a {
  text-decoration: none;
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
  transition: 0.3s;
}
#footer .footer_nav .footer_item a:hover {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
#footer .footer_icons {
  display: flex;
  gap: 33px;
  width: 120px;
  height: 24px;
  flex-shrink: 0;
}
#footer .footer_icons li {
  color: #fefcf7;
  width: 120px;
  height: 24px;
  transition: 0.3s;
}
#footer .footer_icons li:hover {
  color: #fdd6ba;
  cursor: pointer;
}